body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 18px;
    color: #777;
}

.calculator form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 40px;
}

input, select {
    margin: 10px;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 200px;
}

button {
    padding: 12px 20px;
    background-color: #0078D4;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

.results {
    text-align: center;
}

.food-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.food-item {
    background-color: #fff;
    width: 250px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: 10px;
}

.food-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.food-item img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    margin-bottom: 15px;
}

.food-item h4 {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.food-item p {
    font-size: 16px;
    color: #666;
}

.category-nav {
    text-align: center;
    margin: 20px 0;
}

.category-nav ul {
    list-style: none;
    padding: 0;
}

.category-nav li {
    display: inline;
    margin: 0 10px;
}

.category-nav button {
    padding: 12px 20px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.category-nav button:hover {
    background-color: #0078D4;
    color: white;
}

.food-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.food-modal .modal-content {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    max-width: 500px;
    width: 80%;
    text-align: center;
}

.food-modal .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


.qrcode {
    position: absolute;
    top: 20px; /* 距离顶部 20px */
    right: 20px; /* 距离右边 20px */
    z-index: 1000; /* 确保二维码在最前面 */
}

.qrcode-image {
    width: 100px; /* 设置二维码宽度 */
    height: 100px; /* 设置二维码高度 */
    border-radius: 8px; /* 可选：使二维码图片角落变圆 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 可选：添加阴影效果 */
}
